*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-inline-size: 375px;
  max-inline-size: 100%;
  margin: 0;
  overflow-x: hidden;
}

img, video, iframe {
  max-width: 100%; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: var(--title-decor-el, rgba(255, 0, 112, 1));
  font-family: var(--font-family), sans-serif;
  font-size: 18px;
  line-height: inherit;
  border: none;
  background-color: transparent;
  text-transform: lowercase;
}

button:hover {
  outline: 1px solid var(--button-hover, rgba(255, 0, 112, 0.4));
  padding-inline: 13px;
}

button:focus-visible {
  border-bottom: 1px solid var(--title-decor-el, rgba(255, 0, 112, 1));
  outline: none;
}

figure {
  margin: 0;
  padding: 0;
}
