:root {
  --accent-color: rgba(255, 0, 112, 1);
  --title-color: rgba(219, 0, 255, 1);
  --bg-color: rgba(0, 0, 40, 1);
  --title-decor-text: rgba(0, 0, 40, 1);
  --title-decor-el: rgba(255, 0, 112, 1);
  --text-color: rgba(241, 178, 206, 1);
  --button-hover: rgba(255, 0, 112, 0.4);
  --background-image: url(../images/cover-image-dark.png);
  --font-family: "IBM Plex mono";
}
